<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>RMS2 - Role Form</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>
<body data-gr-c-s-loaded="true">

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="container">
		
		<form th:action="@{/secure/role}" th:object="${role}" method="POST" class="form-role">
			<h1 class="h3 mb-3 font-weight-normal">Add Role</h1>
			
			<div th:if="${param.error}" class="error">
				<div class="alert alert-danger" role="alert">
					Sorry! 
				</div>
			</div>
			
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" th:text="'#' + (*{id} == 0 ? '' : *{id})"></span>
			  </div>
			  
			  <div class="input-group-prepend">
			    <span class="input-group-text">ROLE_</span>
			  </div>
			  
			  <input type="hidden" name="id" th:value="*{id}"/>
			  <input type="text" id="name" name="name" class="form-control"
			  	placeholder="Name" aria-label="Name" th:value="*{#strings.substringAfter(name, 'ROLE_')}"/>
			  
			  <div class="input-group-append">
			    <button class="btn btn-primary" type="submit">Save</button>
			  </div>
			</div>
		</form>
	
		<div th:replace="fragments/general.html :: footer"></div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</body>
</html>