<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>RMS2 - Role</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>
<body data-gr-c-s-loaded="true">

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="container">
		<div th:if="${param.error}">
			<div class="alert alert-danger" role="alert" th:text="${param.error}"></div>
		</div>
		
		<div th:if="${param.success}">
			<div class="alert alert-success" role="alert" th:text="${param.success}"></div>
		</div>
		
		<table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Role</th>
		      <th scope="col"><a th:href="@{/secure/role/form}">add</a></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="role : ${roles}">
		      <th th:text="${role.id}" scope="row"></th>
		      <td th:text="${role.name}"></td>
		      <td>
		      	<a th:href="@{/secure/role/form(id=${role.id})}">update</a> | 
		      	<a href="#" th:onclick="doDelete([[${role.id}]], [[${role.name}]])">delete</a>
		      </td>
		    </tr>
		  </tbody>
		</table>
	
		<div th:replace="fragments/general.html :: footer"></div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		function doDelete(id, name) {
			if (confirm("Are you sure want to delete " + name + " ?")) {
				window.location.href = "/secure/role/delete?id=" + id;
			}
		}
	</script>
</body>
</html>