<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
</head>
<body>

    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light mb-4 border-bottom shadow-sm">
	  
	  <a class="navbar-brand" th:href="@{/secure/home}">RMS 2</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li sec:authorize="isAuthenticated()" class="nav-item active">
	        <a class="nav-link" th:href="@{/secure/home}">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
	        <a class="nav-link" th:href="@{/secure/user}">User</a>
	      </li>
	      <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
	        <a class="nav-link" th:href="@{/secure/role}">Role</a>
	      </li>
	      <li sec:authorize="isAuthenticated()" class="nav-item">
	        <a class="nav-link" th:href="@{/secure/user/changepass}">Change Password</a>
	      </li>
	    </ul>
	    <form th:action="@{/app-logout}" method="POST" class="form-inline my-2 my-lg-0">
	      <button sec:authorize="isAuthenticated()" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
	      <a sec:authorize="!isAuthenticated()" class="btn btn-outline-primary my-2 my-sm-0" th:href="@{/login}">Login</a>
	    </form>      
	  </div>
	</nav>
    
    <footer th:fragment="footer" class="pt-4 my-md-5 pt-md-5 border-top">
	    <div class="row">
	      <div class="col-12 col-md">
	        <img class="mb-2" src="/images/bootstrap-solid.svg" alt="" width="24" height="24"/>
	        <small class="d-block mb-3 text-muted">© 2017-2019</small>
	      </div>
	      <div class="col-6 col-md">
	        <h5>Features</h5>
	        <ul class="list-unstyled text-small">
	          <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="text-muted" th:href="@{/secure/user}">User</a></li>
	          <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="text-muted" th:href="@{/secure/role}">Role</a></li>
	          <li sec:authorize="isAuthenticated()"><a class="text-muted" th:href="@{/secure/user/changepass}">Change Password</a></li>
	          <li sec:authorize="!isAuthenticated()"><a class="text-muted" th:href="@{/login}">Login</a></li>
	        </ul>
	      </div>
	      <div class="col-6 col-md">
	        <h5>Resources</h5>
	        <ul class="list-unstyled text-small">
	          <li><a class="text-muted" href="#">....</a></li>
	          <li><a class="text-muted" href="#">....</a></li>
	          <li><a class="text-muted" href="#">....</a></li>
	        </ul>
	      </div>
	      <div class="col-6 col-md">
	        <h5>About Me</h5>
	        <p class="text-small text-muted">
	        	Arifin<br/>
	          	CDC Bootcamp<br/>
	          	2019
	        </p>
	      </div>
	    </div>
	</footer>
    
    <div th:fragment="formField (field, value, size)">
	    <div>
	        <label th:for="${#strings.toLowerCase(field)}"> <span
	            th:text="${field}">Field</span>
	        </label>
	    </div>
	    <div>
	        <input type="text" th:id="${#strings.toLowerCase(field)}"
	            th:name="${#strings.toLowerCase(field)}" th:value="${value}"
	            th:size="${size}">
	    </div>
	</div>
</body>
</html>