<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>RMS2 - User Form</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>
<body data-gr-c-s-loaded="true">

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="container">
		
		<form th:action="@{/secure/user/changepass}" th:object="${changePass}" method="POST" class="form-user">
			<h1 class="h3 mb-3 font-weight-normal">Add User</h1>
			
			<div th:if="${param.error}" class="error">
				<div class="alert alert-danger" role="alert" th:text="${param.error}"></div>
			</div>
			
			<div th:if="${param.success}">
				<div class="alert alert-success" role="alert" th:text="${param.success}"></div>
			</div>
			
			<div class="form-row">
			    <div class="form-group col-sm-6">
			      <label for="userName">Username</label>
			      <input type="text" class="form-control-plaintext" id="userName" th:field="*{userName}"
			      	th:value="*{userName}" required="required" readonly="readonly"/>
			    </div>			   
			     
				<div class="form-group col-sm-6">
			      <label for="oldPassword">Old Password</label>
			      <input type="password" class="form-control" id="oldPassword"
			      	name="oldPassword" required="required" placeholder="Old Password"/>
			    </div>
			</div>
			
			<div class="form-row">			    
				<div class="form-group col-sm-6">
			      <label for="newPassword1">New Password</label>
			      <input type="password" class="form-control" id="newPassword1"
			      	name="newPassword1" required="required" placeholder="New Password"/>
			    </div>
				<div class="form-group col-sm-6">
			      <label for="newPassword2">Confirm New Password</label>
			      <input type="password" class="form-control" id="newPassword2"
			      	name="newPassword2" required="required" placeholder="Repeat"/>
			    </div>
			</div>
			
			<button class="btn btn-primary" type="submit">Change</button>
			
		</form>
	
		<div th:replace="fragments/general.html :: footer"></div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</body>
</html>