<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>RMS2 - User Form</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>
<body data-gr-c-s-loaded="true">

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="container">
		
		<form th:action="@{/secure/user}" th:object="${user}" method="POST" class="form-user">
			<h1 class="h3 mb-3 font-weight-normal">Add User</h1>
			
			<div th:if="${param.error}" class="error">
				<div class="alert alert-danger" role="alert">
					Sorry! 
				</div>
			</div>
			
			<div class="form-row">
			    <div class="form-group col-md-5">
			      <label for="userName">Username</label>
			      <input type="hidden" id="id" th:field="*{id}" th:value="*{id}"/>
			      <input type="text" class="form-control" id="userName" th:field="*{userName}"
			      placeholder="Username" th:value="*{userName}" required="required"/>
			    </div>
			    
			    <div class="form-group col-md-7">
			      <label for="fullName">Full Name</label>
			      <input type="text" class="form-control" id="fullName" th:field="*{fullName}"
			      placeholder="Full Name" th:value="*{fullName}" required="required"/>
			    </div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-5">
				    <label for="roles">Roles</label>
				    <select multiple="multiple" class="form-control" id="roles" th:field="*{roles}">
				      <option th:each="role : ${allRoles}" th:value="${{role}}" th:text="${role.name}"></option>
				    </select>
				</div>
				
			    <div class="form-group" th:classappend="*{userName} ? col-md-7 : col-md-3">
			      <label for="country">Country</label>
			      <input type="text" class="form-control" id="country" th:field="*{country}"
			      placeholder="Country" th:value="*{country}" required="required"/>
			    </div>
				
			    <div th:if="*{userName == null}" class="form-group col-md-4">
			      <label for="country">Password Default</label>
			      <input type="text" readonly="readonly" class="form-control-plaintext" value="123456">
			    </div>
			</div>
			
			<button class="btn btn-primary" type="submit">Save</button>
			
		</form>
	
		<div th:replace="fragments/general.html :: footer"></div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</body>
</html>