<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>RMS2 - User</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>
<body data-gr-c-s-loaded="true">

	<div th:replace="fragments/general.html :: header"></div>
	
	<div class="container">
		<div th:if="${param.error}">
			<div class="alert alert-danger" role="alert" th:text="${param.error}"></div>
		</div>
		
		<div th:if="${param.success}">
			<div class="alert alert-success" role="alert" th:text="${param.success}"></div>
		</div>
		
		<table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Username</th>
		      <th scope="col">Full Name</th>
		      <th scope="col">Country</th>
		      <th scope="col">Role(s)</th>
		      <th scope="col"><a th:href="@{/secure/user/form}">add</a></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="user : ${users}">
		      <th th:text="${user.userName}" scope="row"></th>
		      <td th:text="${user.fullName}"></td>
		      <td th:text="${user.country}"></td>
		      <td>
		      	<span th:each="role : ${user.roles}" class="badge badge-pill badge-info mr-1" th:text="${role.name}"></span>
		      </td>
		      <td>
		      	<a th:href="@{/secure/user/form(username=${user.userName})}">update</a>
		      	<a th:if="${user.userName != username}" href="#" class="ml-2"
		      		th:onclick="doDelete([[${user.userName}]])">delete</a>
		      </td>
		    </tr>
		  </tbody>
		</table>
	
		<div th:replace="fragments/general.html :: footer"></div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		function doDelete(userName) {
			if (confirm("Are you sure want to delete account " + userName + " ?")) {
				window.location.href = "/secure/user/delete?username=" + userName;
			}
		}
	</script>
</body>
</html>